# Exploratory Data Analysis (Part 1 of 2)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
df = pd.read_csv('df_final.csv')

In [6]:
df

,id,timestamp,author,score,comments,title,text,Time,Day
0,3yyux2,1451606523,HodlDwon,1,0,Toomim BTCC Comment,NaN,2016-01-01 01:02:03,2016-01-01
1,3yyvmp,1451606917,[deleted],63,149,They think Satoshi was wrong,[deleted],2016-01-01 01:08:37,2016-01-01
2,3yyx1b,1451607665,Bonleta,6,0,Bitcoin crowned best-performing currency of 2015,NaN,2016-01-01 01:21:05,2016-01-01
3,3yyyoz,1451608583,wakka54,2,3,If there an automated program to search a hard...,I remember mining in 2010 but quit because it ...,2016-01-01 01:36:23,2016-01-01
4,3yyyqr,1451608613,camponez,1,3,Happy New 2016 FIAT!,NaN,2016-01-01 01:36:53,2016-01-01
...,...,...,...,...,...,...,...,...,...
574618,ko0wkc,1609458770,BitcoinIsEasy,1,0,Look like for Idiots but its Amazing,NaN,2021-01-01 00:52:50,2021-01-01
574619,ko0xpi,1609458893,idknooneknowsme,1,5,How to recover bitcoin,"So I’m actually not a n00b at all, I’m holding...",2021-01-01 00:54:53,2021-01-01
574620,ko0ycw,1609458963,Independent-Front860,1,0,"Defending Japan, the land of Satoshi Nakamoto ...",NaN,2021-01-01 00:56:03,2021-01-01
574621,ko0yoo,1609458998,18gorrillas,1,1,I hear “down the rabbit hole” all the time.......,NaN,2021-01-01 00:56:38,2021-01-01
574622,ko0yrr,1609459009,_BlockBot_,1,0,4 reasons why the top 15 richest Bitcoin walle...,NaN,2021-01-01 00:56:49,2021-01-01