In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import time
import datetime

In [55]:
df = pd.read_csv('final_dataset.csv', index_col=0)

In [56]:
df.shape

(574623, 7)

In [57]:
df.columns

Index(['id', 'timestamp', 'author', 'score', 'comments', 'title', 'text'], dtype='object')

# ID

In [58]:
df['id'] = df['id'].astype(str)

In [59]:
print(len(df['id']))
print(df['id'].nunique())

574623
574623

# Timestamp

In [60]:
df['timestamp'] = df['timestamp'].astype(int)

def epoch_to_time(elem):
    a = datetime.datetime.utcfromtimestamp(elem)
    return a

def time_to_date(elem):
    b = elem.date()
    return b

df['Time'] = df['timestamp'].apply(epoch_to_time)
df['Day'] = df['Time'].apply(time_to_date)

In [61]:
df

,id,timestamp,author,score,comments,title,text,Time,Day
0,3yyux2,1451606523,HodlDwon,1,0,Toomim BTCC Comment,NaN,2016-01-01 00:02:03,2016-01-01
1,3yyvmp,1451606917,[deleted],63,149,They think Satoshi was wrong,[deleted],2016-01-01 00:08:37,2016-01-01
2,3yyx1b,1451607665,Bonleta,6,0,Bitcoin crowned best-performing currency of 2015,NaN,2016-01-01 00:21:05,2016-01-01
3,3yyyoz,1451608583,wakka54,2,3,If there an automated program to search a hard...,I remember mining in 2010 but quit because it ...,2016-01-01 00:36:23,2016-01-01
4,3yyyqr,1451608613,camponez,1,3,Happy New 2016 FIAT!,NaN,2016-01-01 00:36:53,2016-01-01
...,...,...,...,...,...,...,...,...,...
45578,ko0wkc,1609458770,BitcoinIsEasy,1,0,Look like for Idiots but its Amazing,NaN,2020-12-31 23:52:50,2020-12-31
45579,ko0xpi,1609458893,idknooneknowsme,1,5,How to recover bitcoin,"So I’m actually not a n00b at all, I’m holding...",2020-12-31 23:54:53,2020-12-31
45580,ko0ycw,1609458963,Independent-Front860,1,0,"Defending Japan, the land of Satoshi Nakamoto ...",NaN,2020-12-31 23:56:03,2020-12-31
45581,ko0yoo,1609458998,18gorrillas,1,1,I hear “down the rabbit hole” all the time.......,NaN,2020-12-31 23:56:38,2020-12-31
45582,ko0yrr,1609459009,_BlockBot_,1,0,4 reasons why the top 15 richest Bitcoin walle...,NaN,2020-12-31 23:56:49,2020-12-31

# Author

In [62]:
df['author'] = df['author'].astype(str)

# Score

In [63]:
df['score'] = df['score'].astype(int)

# Comments

In [64]:
df['comments'] = df['comments'].astype(int)

# Text

In [65]:
df['text'] = df['text'].astype(str)

In [66]:
df['text'].iloc[3]

"I remember mining in 2010 but quit because it was only $12 but I'm wondering if there's a way to go look for the files? I never reformat my hard drives so it's probably somewhere."

# Setup done!

In [67]:
df

,id,timestamp,author,score,comments,title,text,Time,Day
0,3yyux2,1451606523,HodlDwon,1,0,Toomim BTCC Comment,nan,2016-01-01 00:02:03,2016-01-01
1,3yyvmp,1451606917,[deleted],63,149,They think Satoshi was wrong,[deleted],2016-01-01 00:08:37,2016-01-01
2,3yyx1b,1451607665,Bonleta,6,0,Bitcoin crowned best-performing currency of 2015,nan,2016-01-01 00:21:05,2016-01-01
3,3yyyoz,1451608583,wakka54,2,3,If there an automated program to search a hard...,I remember mining in 2010 but quit because it ...,2016-01-01 00:36:23,2016-01-01
4,3yyyqr,1451608613,camponez,1,3,Happy New 2016 FIAT!,nan,2016-01-01 00:36:53,2016-01-01
...,...,...,...,...,...,...,...,...,...
45578,ko0wkc,1609458770,BitcoinIsEasy,1,0,Look like for Idiots but its Amazing,nan,2020-12-31 23:52:50,2020-12-31
45579,ko0xpi,1609458893,idknooneknowsme,1,5,How to recover bitcoin,"So I’m actually not a n00b at all, I’m holding...",2020-12-31 23:54:53,2020-12-31
45580,ko0ycw,1609458963,Independent-Front860,1,0,"Defending Japan, the land of Satoshi Nakamoto ...",nan,2020-12-31 23:56:03,2020-12-31
45581,ko0yoo,1609458998,18gorrillas,1,1,I hear “down the rabbit hole” all the time.......,nan,2020-12-31 23:56:38,2020-12-31
45582,ko0yrr,1609459009,_BlockBot_,1,0,4 reasons why the top 15 richest Bitcoin walle...,nan,2020-12-31 23:56:49,2020-12-31

In [68]:
df.to_csv('df_final.csv', index=False)